@model IEnumerable<JeffThings.Domains.Jogos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiposJogos)
            </th>
            <th>
                <p>
                    TEMPO PARADO
                 @*   Last week this time: @(DateTime.Now - TimeSpan.FromDays(7))*@
                </p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiposJogos.Nome)
            </td>
            <td>
                @{
                    var dataFim = DateTime.Now;
                    var dataInicio = new DateTime(2019, 11, 6, 16, 40, 00);
                    var diferenca = dataFim.Subtract(dataInicio);
                    //var res = String.Format("{00}:{11}:{22}", diff.Hours,diff.Minutes,diff.Seconds);
                    var resultado = diferenca.ToString(@"hh\:mm\:ss");
                    //DateTime a = new DateTime(2019, 11, 6, 16, 40, 00);
                    //var a = new DateTime().Now;
                    //DateTime b = new DateTime(2019, 11, 6, 17, 50, 00);
                    //DateTime resultado = b.Subtract(a);
                    <p>
                        @*@b.Subtract(a).ToString(@"hh\:mm\:ss")*@
                        @resultado
                    </p>  
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
